// Color
$color-primary: #50C355;
$color-primary-light: #7CD27F;
$color-secondary: #F4B202;
$color-black: #515758;
$color-white:#FDFDFD;

// Typography
.heading-primary {font-size: 40px;}
.heading-secondary {font-size: 34px;}
.heading-tertiary {font-size: 24px;}
.heading-subtitle {font-size: 20px;}
.font-btn {font-size: 18px;}
.font-text {font-size: 16px;}

// util
.max-width {width: 350px}
