@import './fundation/variables';
@import './fundation/base';
@import './layout/layout';

// Components
@import './components/chart';
@import './components/btn';

// Pages
@import './pages/dashboard';
@import './pages/transaction';

.sample {
    transform: translateY(165px);
    color: white;
}
.sample1 {
    transform: translate(140px, 205px);
}
